<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!-- Basics -->
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>PHP300FrameWork</title>
<!-- Favicons -->
<link rel="shortcut icon" href="{__TMP__}Php300/Welcome/img/favicons/favicon.ico">

<!-- Mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS -->
<link rel="stylesheet" href="{__TMP__}Php300/Welcome/css/normalize.min.css">
<link rel="stylesheet" href="{__TMP__}Php300/Welcome/css/main.css">
</head>
<body>   

<div class="wrapper">
	<section id="home" class="row">
		<div class="overlay">
			<div class="col home-title jiji">
				<h1>PHP300FrameWork({FRAMEWROK_VER})</h1>
				<h2>{$Welcome}</h2>
				<a href="http://api.php300.cn?ver={FRAMEWROK_VER}" target="_blank" class="but">在线文档</a>
			</div>
		</div>
	</section>
	<section id="about" class="row">
		<div class="page about-content">
			<div class="col about-title">
				<h3
					data-100="-webkit-transform: translateX(100px); opacity:0;"
					data-500="-webkit-transform: translateX(0px); opacity:1;"
				>框架简介</h3>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col about-description">
				<p
					data-100="opacity:0;"
					data-500="opacity:1;"
				>PHP300FrameWork是一款免费且开源的易学易懂的PHP框架,框架支持MVC模式,使用OOP编程思想为核心,简化模块使用,并且有云端函数支持,让开发者的工作更简单。(智慧改变世界)</p>
				<a href="http://framework.php300.cn" class="but" target="_blank">了解更多</a>
			</div>
			<div class="col empty">&nbsp;</div>
		</div>
	</section>
	<footer id="footer" class="row">
		<div class="footer-content page">
			<div class="col f1">
				<p>Group &copy; 2017.PHP300 All rights reserved.<a target="_blank" href="http://www.php300.cn">PHP300</a></p>
			</div>
		</div>
	</footer>
</div>
<div class="loader"></div>
<!-- JavaScript -->
<script src="{__TMP__}Php300/Welcome/js/Jquery.js"></script>
<script src="{__TMP__}Php300/Welcome/js/skrollr.js"></script>
<script src="{__TMP__}Php300/Welcome/js/main.js"></script>
</body>
</html>